<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <description></description>
        <display-name>IndexController</display-name>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.Servlet</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddStaffController</display-name>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>ServiceUtilController</display-name>
        <servlet-name>ServiceUtilController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.ServiceUtilController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>EditStaffController</display-name>
        <servlet-name>EditStaffController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.EditStaffController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddDrugCategoryController</display-name>
        <servlet-name>AddDrugCategoryController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.AddDrugCategoryController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddDrugController</display-name>
        <servlet-name>AddDrugController</servlet-name>
        <servlet-class>main.java.com.pharmacyshopautomation.controllers.AddDrugController</servlet-class>
    </servlet>


    <!--mapping-->
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/begin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/AddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceUtilController</servlet-name>
        <url-pattern>/ServiceUtilController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffController</servlet-name>
        <url-pattern>/EditStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDrugCategoryController</servlet-name>
        <url-pattern>/AddDrugCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDrugController</servlet-name>
        <url-pattern>/AddDrugController</url-pattern>
    </servlet-mapping>


</web-app>