<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pharmacyautomation</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">false</property>
    <mapping class="main.java.com.pharmacyshopautomation.models.Admin" />
    <mapping class="main.java.com.pharmacyshopautomation.models.Cabinet" />
    <mapping class="main.java.com.pharmacyshopautomation.models.Drug" />
    <mapping class="main.java.com.pharmacyshopautomation.models.Staff" />
    <mapping class="main.java.com.pharmacyshopautomation.models.Role" />
  </session-factory>
</hibernate-configuration>